{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "template.njk" %}

{% block pageTitle %}
  Accessability statement - IDAM User Dashboard - GOV.UK
{% endblock %}

<a href="/" class="govuk-back-link" onclick="goBack(event);">Back</a>

{% block content %}
  <h1 class="govuk-heading-xl">Accessibility statement for IDAM User Dashboard</h1>

  <p class="govuk-body-m">This accessibility statement explains how accessible this website is, what to do if you have difficulty using it, and how to report accessibility problems with the website.</p>
  <p class="govuk-body-m">This website is part of the wider GOV.UK website. There is a separate <a class="govuk-link" href="https://www.gov.uk/help/accessibility-statement">accessibility statement</a> for the main GOV.UK website.</p>
  <p class="govuk-body-m">This page only contains information about the IDAM User Dashboard.</p>
  <p class="govuk-body-m">This website is run by HM Courts & Tribunals Service (HMCTS). We want as many people as possible to be able to use this service. This means you should be able to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>
  <p class="govuk-body-m">We’ve also made the website text as simple as possible to understand.</p>
  <p class="govuk-body-m"><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

  <h1 class="govuk-heading-xl">How accessible this website is</h1>
  
  <p class="govuk-body-m">This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>
  <p class="govuk-body-m">There are no known accessibility issues within this service.</p>
  <p class="govuk-body-m">Feedback and contact information</p>
  <p class="govuk-body-m">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, you can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: HMCTSforms@justice.gov.uk</li>
    <li>Call: +44 (0) 300 123 1711</li>
    <li>Contact your service representative</li>
  </ul>
  <p class="govuk-body-m">We’ll consider your request and get back to you in 10 working days.</p>

  <h1 class="govuk-heading-xl">Reporting accessibility problems with this website</h1>
  <p class="govuk-body-m">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: customer.service@justice.gov.uk</li>
    <li>Call: +44 (0) 300 123 1711</li>
    <li>Enforcement procedure</li>
  </ul>
  <p class="govuk-body-m">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
  <p class="govuk-body-m">If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS).</a></p>

  <h1 class="govuk-heading-xl">Contacting us by phone or visiting us in person</h1>
  <p class="govuk-body-m">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.</p>
  <p class="govuk-body-m">Our offices and tribunal venues have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter. You can also request step-free access or a foreign language interpreter.</p>
  <p class="govuk-body-m">If you have a question about accessibility in our Tribunal venues, you can contact the First-tier Tribunal enquiry line: +44 (0) 300 123 1711. You can find the contact details for court and tribunal venues.</p>
  <p class="govuk-body-m">You can also contact your service representative for more information.</p>

  <h1 class="govuk-heading-xl">Technical information about this website’s accessibility</h1>
  <p class="govuk-body-m">HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018.</p>

  <h1 class="govuk-heading-xl">Compliance status</h1>
  <p class="govuk-body-m">This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

  <h1 class="govuk-heading-xl">What we’re doing to improve accessibility</h1>
  <p class="govuk-body-m">We’re committed to ensuring our services are accessible to all our users and that they comply with level AA of the Web Content Accessibility Guidelines – WCAG 2.1.</p>
  <p class="govuk-body-m">We continually run automated accessibility testing as part of our development practices. This helps us to resolve issues before we launch new pages or features.</p>

  <h1 class="govuk-heading-xl">Preparation of this accessibility statement</h1>
  <p class="govuk-body-m">This statement was prepared on 24 March 2022. It was last reviewed on 24 March 2022.</p>
  <p class="govuk-body-m">We used this approach to deciding the pages to test:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>All user journeys that are live on the website were listed.</li>
    <li>A set of steps was included in each journey.</li>
    <li>Each step linked to a specific page, content, or error state – all of them are in scope for testing.</li>
  </ul>

{% endblock %}
