{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "dist/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "dist/govuk/components/panel/macro.njk" import govukPanel %}

{% extends "template.njk" %}

{% block pageTitle %}
  Accessibility statement - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Accessibility statement for IDAM User Dashboard</h1>

  <p class="govuk-body-m">This statement applies to HMCTS Access which allows administrators to make changes to a user’s details and access levels.</p>
  <p class="govuk-body-m">This website is run by HM Courts & Tribunals Service (HMCTS). We want as many people as possible to be able to use this service. This means you should be able to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>
  <p class="govuk-body-m">We’ve also made the website text as simple as possible to understand.</p>
  <p class="govuk-body-m"><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

  <h2 class="govuk-heading-l">How accessible this website is</h2>
  <p class="govuk-body-m">This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard. This website went through an internal audit against the WCAG 2.1 AA standards.</p>
  <p class="govuk-body-m">There are no known accessibility issues within this service.</p>

  <h2 class="govuk-heading-l">Feedback and contact information</h2>
  <p class="govuk-body-m">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, you can get in touch. Please use the details for the service you require.</p>

  <h3 class="govuk-heading-m">Adoption</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:adoptionproject@justice.gov.uk">adoptionproject@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 1634 887900">+44 (0) 1634 887900</a></li>
  </ul>

  <h3 class="govuk-heading-m">Civil Damages Service</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:ccmcccustomerenquiries@justice.gov.uk">ccmcccustomerenquiries@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 300 123 1372">+44 (0) 300 123 1372</a></li>
  </ul>

  <h3 class="govuk-heading-m">Divorce</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:divorcecase@justice.gov.uk">divorcecase@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 300 303 0642">+44 (0) 300 303 0642</a></li>
    <li>Monday to Friday 8am to 8pm, Saturday 8am to 2pm</li>
  </ul>

  <h3 class="govuk-heading-m">Family Public Law</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:HMCTSforms@justice.gov.uk">HMCTSforms@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 330 808 4424">+44 (0) 330 808 4424</a></li>
  </ul>

  <h3 class="govuk-heading-m">Financial Remedy</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:HMCTSforms@justice.gov.uk">HMCTSforms@justice.gov.uk</a></li>
  </ul>

  <h3 class="govuk-heading-m">Immigration and Asylum Chamber</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:customer.service@justice.gov.uk">customer.service@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 300 123 1711">+44 (0) 300 123 1711</a></li>
  </ul>

  <h3 class="govuk-heading-m">Online Civil Money Claims</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 300 123 7050">+44 (0) 300 123 7050</a></li>
  </ul>

  <h3 class="govuk-heading-m">Probate</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:HMCTSforms@justice.gov.uk">HMCTSforms@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 300 303 0648">+44 (0) 300 303 0648</a></li>
    <li>Monday to Friday, 8:00am to 8:00pm. Saturday, 8:00am to 2:00pm</li>
  </ul>

  <h3 class="govuk-heading-m">Social Security and Child Support</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Email: <a class="govuk-link" href="mailto:contactsscs@justice.gov.uk">contactsscs@justice.gov.uk</a></li>
    <li>Call: <a class="govuk-link" href="tel:+44 (0) 300 123 1142">+44 (0) 300 123 1142 </a></li>
    <li>Monday to Friday, 8:30am to 5.00pm</li>
  </ul>

  <p class="govuk-body-m">We’ll consider your request and get back to you in 10 working days.</p>

  <h2 class="govuk-heading-l">Enforcement procedure</h2>
  <p class="govuk-body-m">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
  <p class="govuk-body-m">If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS).</a></p>

  <h2 class="govuk-heading-l">Contacting us by phone or visiting us in person</h2>
  <p class="govuk-body-m">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.</p>
  <p class="govuk-body-m">Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter.</p>
  <p class="govuk-body-m">Find out how to contact us using the contact details above or <a href="https://courttribunalfinder.service.gov.uk/search">find the contact details for court and tribunal venues</a>.</p>

  <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
  <p class="govuk-body-m">HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018.</p>
  <h3 class="govuk-heading-m">Compliance status</h3>
  <p class="govuk-body-m">This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

  <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
  <p class="govuk-body-m">We’re committed to ensuring our services are accessible to all our users and that they comply with level AA of the Web Content Accessibility Guidelines – WCAG 2.1.</p>
  <p class="govuk-body-m">We continually run automated accessibility testing as part of our development practices. This helps us to resolve issues before we launch new pages or features.</p>
  <p class="govuk-body-m">This website was tested using MAC VoiceOver, ChromeVox, Axe and Wave, which comply with WCAG 2 and Section 508 accessibility. This website went through an internal audit against the WCAG 2.1 AA standards.</p>
  <p class="govuk-body-m">By using the testing team in conjunction with an automated procedure a more accurate set of results are made available.</p>
  <p class="govuk-body-m"></p>

  <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
  <p class="govuk-body-m">This statement was prepared on 13 July 2022. It was last reviewed on 18 July 2022. </p>
  <p class="govuk-body-m">Automated tests are run regularly. The last internal review was carried out on 20 June 2022.</p>
  <p class="govuk-body-m">We used this approach to deciding the pages to test:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>All user journeys that are live on the website were listed.</li>
    <li>A set of steps was included in each journey.</li>
    <li>Each step linked to a specific page, content, or error state – all of them are in scope for testing.</li>
  </ul>
{% endblock %}
