{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "macros/roleList.njk" import roleList %}

{% extends "template.njk" %}

{% block pageTitle %}
  Add User Roles- IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Add user', urls.ADD_USER_URL],
    ['Add user roles']
  ]) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {{ errorSummary(error) }}
        <h1 class="govuk-heading-l">Add new user roles</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form id="addUserRolesForm" method="POST" action="{{ urls.ADD_USER_ROLES_URL }}">
          {{ csrfProtection(csrfToken) }}

          <input type="hidden" name="_email" value="{{ content.user.email }}">
          <input type="hidden" name="_forename" value="{{ content.user.forename }}">
          <input type="hidden" name="_surname" value="{{ content.user.surname }}">

          {{ roleList({
            roles: content.roles,
            name: 'roles',
            label: {
              text: "Search Roles"
            },
            searchBox: {
              name: 'roles__search-box',
              id: 'roles__search-box',
              placeholder: 'Search roles to assign to the user',
              classes: 'govuk-!-width-one-half'
            },
            list: {
              classes: 'govuk-checkboxes--small govuk-checkboxes--two-column'
            }
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({ text: "Save" }) }}
          </div>
        </form>
      </div>
    </div>

    <div class="govuk-grid-row">
      <form method="redirect" action="{{ urls.ADD_USER_URL }}">
        {{ csrfProtection(csrfToken) }}
        <button type="submit" class="govuk-back-link">Return to add user</button>
      </form>
    </div>
{% endblock %}
