{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "dist/govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/errorSummary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  Add User Email - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Add user']
  ]) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ errorSummary(error) }}
      <h1 class="govuk-heading-l">Add new user email</h1>
      <form id="addUserEmailForm" method="POST" action="{{ urls.ADD_USER_DETAILS_URL }}">
        {{ csrfProtection(csrfToken) }}

        {{ govukInput({
          label: {
            text: "Please enter an email address"
          },
          errorMessage: { text: error.email.message } if error.email,
          classes: "govuk-input govuk-!-width-three-quarters",
          id: "email",
          name: "email",
          value: email
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
