{% from "macros/breadcrumb.njk" import breadcrumb %}

{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Add users']
  ]) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Add Users</h1>
{% endblock %}
