{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "template.njk" %}

{% block pageTitle %}
  Edit User - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Manage users', urls.MANAGER_USERS_URL],
    ['Edit User']
  ]) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {{ errorSummary(error) }}

    {% set notificationHtml %}
      <h3 class="govuk-notification-banner__heading">User details updated successfully</h3>
      <span>The following account has been updated:</span>
      <a href="mailto:{{ content.user.email }}">{{ content.user.email }}</a>
    {% endset %}

    {{ govukNotificationBanner({
      html: notificationHtml,
      type: 'success'
    }) if content.notification }}

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Edit Users</h1>
    </div>
    <form id="userEditForm" method="POST" action="{{ urls.EDIT_USER_URL }}">
      {{ csrfProtection(csrfToken) }}
      <input type="hidden" name="_userId" value="{{ content.user.id }}">
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-5">
        <h3 class="govuk-heading-s">General</h3>

        {% call govukFieldset({
          classes: 'govuk-fieldset--row'
        }) %}
          {{ govukInput({
            label: { text: "First name" },
            name: "forename",
            id: "forename",
            value: content.user.forename
          }) }}
          {{ govukInput({
            label: { text: "Last name" },
            name: "surname",
            id: "surname",
            value: content.user.surname
          }) }}
        {% endcall %}

        {{ govukInput({
          label: { text: "Email" },
          name: "email",
          id: "email",
          value: content.user.email
        }) }}
      </div>

      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-s">Assigned roles</h3>

        {% set roleItems = [] %}
        {% for role in content.roles %}
          {% set id = role.name | lower %}
          {% set roleItems =
            (roleItems.push({
            'text': role.name,
            'value': role.name,
            'id': id,
            'checked': role.assigned,
            'disabled': not role.assignable
          }), roleItems) %}
        {% endfor %}

        <div id="roleList" class="scrollable visible-scrollbar role: scrollbar">
          {{ govukCheckboxes({
            idPrefix: "roles",
            name: "roles",
            classes: "govuk-checkboxes--small govuk-checkboxes--two-column",
            items: roleItems
          }) }}
        </div>

      <div class="govuk-button-group">
        {{ govukButton({ text: "Save", name: "_action", value: "save", classes: "govuk-button" }) }}
      </div>
      </div>

    </form>
  </div>

  <div class="govuk-grid-row">
    <form method="POST" action="{{ urls.USER_DETAILS_URL }}">
      {{ csrfProtection(csrfToken) }}
      <input type="hidden" name="search" value="{{ content.user.email }}">
      <button type="submit" class="govuk-back-link">Return to user details</button>
    </form>
  </div>
{% endblock %}
