{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "macros/roleList.njk" import roleList %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "template.njk" %}

{% block pageTitle %}
  Edit User - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Manage user', urls.MANAGER_USER_URL],
    ['Edit user']
  ]) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {{ errorSummary(error) }}

    {% set notificationHtml %}
      <h3 class="govuk-notification-banner__heading">User details updated successfully</h3>
      <span>The following account has been updated:</span>
      <a href="mailto:{{ content.user.email }}">{{ content.user.email }}</a>
    {% endset %}

    {{ govukNotificationBanner({
      html: notificationHtml,
      type: 'success'
    }) if content.notification }}

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Edit User</h1>
    </div>
    <form id="userEditForm" method="POST" action="{{ urls.EDIT_USER_URL }}">
      {{ csrfProtection(csrfToken) }}
      <input type="hidden" name="_userId" value="{{ content.user.id }}">
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-5">
        {% call govukFieldset({
          classes: 'govuk-fieldset--row',
          legend: {
            text: "User's details",
            classes: "govuk-fieldset__legend--s"
          }
        }) %}
          {{ govukInput({
            label: { text: "First name" },
            name: "forename",
            id: "forename",
            value: content.user.forename
          }) }}
          {{ govukInput({
            label: { text: "Last name" },
            name: "surname",
            id: "surname",
            value: content.user.surname
          }) }}
        {% endcall %}

        {{ govukInput({
          label: {
            text: "Email"
          },
          name: "email",
          id: "email",
          value: content.user.email,
          hint: {
            text: 'The email address for this user is managed by their identity provider, it cannot be updated within IDAM.'
          } if content.user.ssoProvider,
          attributes: {
            disabled: true
          } if content.user.ssoProvider
        }) }}
      </div>

      {% set displayedRoles = [] %}
      {% for role in content.roles %}
        {% if role.name !== 'idam-mfa-disabled' %}
          {% set displayedRoles = (displayedRoles.push(role), displayedRoles) %}
        {% endif %}
      {% endfor %}

      <div class="govuk-grid-column-full">
        {% call govukFieldset({
          legend: {
            text: "User's assigned roles",
            classes: "govuk-fieldset__legend--s"
          }
        }) %}
          {{ roleList({
            roles: displayedRoles,
            name: 'roles',
            searchBox: {
              name: 'roles__search-box',
              id: 'roles__search-box',
              placeholder: 'Search roles to assign to the user',
              classes: 'govuk-!-width-one-half'
            },
            list: {
              classes: 'govuk-checkboxes--small govuk-checkboxes--two-column'
            }
          }) }}
        {% endcall %}
      </div>

      <div class="govuk-grid-column-full">
        {% if featureFlags.values[featureFlags.flags.GAMMA_MFA] %}

          {% call govukFieldset({
            legend: {
              text: "Multi-factor authentication",
              classes: "govuk-fieldset__legend--s"
            }
          }) %}
            {% if content.user.ssoProvider %}
              <p class="govuk-hint">{{ content.mfaMessage }}</p><br>
            {% else %}
              {% if content.showMfa and content.user.multiFactorAuthentication %}
                {{ govukWarningText({
                  text: "Only disable MFA for a user if they have a 'justice.gov.uk' or 'hmcts.net' email address. Contact the information security team if you want to make an exception.",
                  iconFallbackText: "Warning"
                }) }}
              {% endif %}
              {{ govukCheckboxes({
                idPrefix: "multiFactorAuthentication",
                name: "multiFactorAuthentication",
                classes: "govuk-checkboxes--small",
                items: [
                  {
                    value: 'enabled',
                    text: 'Enabled',
                    checked: content.user.multiFactorAuthentication,
                    disabled: not content.showMfa
                  }
                ]
              }) }}
            {% endif %}
          {% endcall %}
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({ text: "Save", name: "_action", value: "save", classes: "govuk-button" }) }}
        </div>
      </div>
    </form>
  </div>

  <div class="govuk-grid-row">
    <form method="POST" action="{{ urls.USER_DETAILS_URL }}">
      {{ csrfProtection(csrfToken) }}
      <input type="hidden" name="search" value="{{ content.user.email }}">
      <button type="submit" class="govuk-back-link">Return to user details</button>
    </form>
  </div>
{% endblock %}
