{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/errorSummary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  Generate report - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Generate report']
  ]) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ errorSummary(error) }}
      <h1 class="govuk-heading-l">Generate ReportsHandler</h1>
      <form method="POST" action="{{ urls.GENERATE_REPORT_URL }}">
        {{ csrfProtection(csrfToken) }}
        {{ govukInput({
          label: {
            text: "What role should the report be based on?",
            classes: "govuk-label govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Please enter the role name"
          },
          errorMessage: { text: error.search.message } if error.search,
          classes: "govuk-input govuk-!-width-three-quarters",
          id: "search",
          name: "search",
          value: search
        }) }}
        {{ govukButton({
          text: "Generate report"
        }) }}
      </form>

      {{ govukWarningText({
        text: 'Generating the report can take some time, please do not refresh the page.',
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>
{% endblock %}
