{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Manage users', urls.MANAGER_USERS_URL],
    ['Remove SSO']
  ]) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {{ govukPanel({ titleText: "Single sign-on removed successfully" }) }}

        <div class="govuk-!-margin-bottom-9">
          <p class="govuk-body-m govuk-!-margin-bottom-0">Single sign-on has been removed for the following account: </p>
          <p class="govuk-body-m"><strong>{{ content.user.email }}</strong></p>
        </div>

        <form method="POST" action="{{ urls.USER_DETAILS_URL | replace(":userUUID", content.user.id) }}">
           {{ csrfProtection(csrfToken) }}
           {{ govukButton({ text: "Return to user details", classes: "govuk-button" }) }}
         </form>
      </div>
  </div>

  <div class="govuk-grid-row">
    <a href="{{ urls.HOME_URL }}" class="govuk-back-link">Return to main menu</a>
  </div>
{% endblock %}
