{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "IDAM User Dashboard",
    serviceUrl: "/",
    navigation: [
      {
        href: "/logout",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://github.com/hmcts/idam-user-dashboard/issues">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: 'Help'
        },
        {
          href: "https://www.gov.uk/contact",
          text: 'Contact'
        },
        {
          href: "https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter#hmcts-privacy-policy",
          text: 'Privacy'
        },
        {
          href: "https://www.gov.uk/help/terms-conditions",
          text: 'Terms and conditions'
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script>
    function pushToDataLayer(selection, pageName) {
      const buttons = document.getElementsByName(selection);
      for (let i = 0; i < buttons.length; i++) {
        if (buttons[i].checked) {
          const val_id = buttons[i].id;
          const selector = 'label[for=' + val_id + ']';
          const label = document.querySelector(selector);
          const label_text = label.innerText;
          window.dataLayer.push({
            'event': 'Page selections',
            'Page': pageName ,
            'selection': label_text,
          });
        }
      }
    }
  </script>
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
