{% extends "dist/govuk/template.njk" %}
{% from "dist/govuk/components/header/macro.njk" import govukHeader %}
{% from "dist/govuk/components/footer/macro.njk" import govukFooter %}
{% from "dist/govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "IDAM User Dashboard",
    serviceUrl: "/",
    navigation: [
      { text: user.name } if user,
      { text: 'Sign out' if user else 'Sign in', href: "/logout" if user else "/login"}
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <header role="banner">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="https://github.com/hmcts/idam-user-dashboard/issues">feedback</a> will help us to improve it.'
    }) }}
  </header>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: 'Help'
        },
        {
          href: "https://www.gov.uk/contact",
          text: 'Contact'
        },
        {
          href: "https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter#hmcts-privacy-policy",
          text: 'Privacy'
        },
        {
          href: urls.ACCESSIBILITY_STATEMENT,
          text: 'Accessibility statement'
        },
        {
          href: "https://www.gov.uk/help/terms-conditions",
          text: 'Terms and conditions'
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
