{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/errorSummary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "template.njk" %}

{% block pageTitle %}
  Un-suspended User - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
 {{ super() }}
 {{ breadcrumb([
   ['Manage user', urls.MANAGER_USER_URL],
   ['Un-suspend user']
 ]) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-three-quarters">
     {{ govukPanel({ titleText: "User un-suspended successfully" }) }}

     <div class="govuk-!-margin-bottom-9">
       <p class="govuk-body-m govuk-!-margin-bottom-0">The following account has been un-suspended: </p>
       <p class="govuk-body-m"><strong>{{ content.user.email }}</strong></p>
     </div>

     <form method="POST" action="{{ urls.USER_DETAILS_URL }}">
       {{ csrfProtection(csrfToken) }}
       <input type="hidden" name="_userId" value="{{ content.user.id }}">
       {{ govukButton({ text: "Return to user details", classes: "govuk-button" }) }}
     </form>
   </div>
 </div>

 <div class="govuk-grid-row">
   <a href="{{ urls.HOME_URL }}" class="govuk-back-link">Return to main menu</a>
 </div>
{% endblock %}
