{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/errorSummary.njk" import errorSummary %}

{% extends "template.njk" %}

{% block pageTitle %}
  Add or Manage User - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(error) }}
      <form method="POST">
        {{ csrfProtection(csrfToken) }}
        {{ govukRadios({
          idPrefix: "userAction",
          name: "userAction",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Please select an option to continue"
          },
          errorMessage: { text: error.userAction.message } if error.userAction,
          items: content.options
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: { onclick: "pushToDataLayer('userAction', 'user-option');"}
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
