{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "template.njk" %}

{% block pageTitle %}
  User Details - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Manage user', urls.MANAGER_USER_URL],
    ['User details']
  ]) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">User Details</h1>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Account state
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="status">
          {% if content.user.active %}
            <strong class="govuk-tag">Active</strong>
          {% elif content.user.stale %}
            <strong class="govuk-tag govuk-tag--green">Archived</strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--red">Suspended</strong>
          {% endif %}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        User ID
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="user-id">
          {{ content.user.id }}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Email
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="email">
          {{ content.user.email }}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        First name
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="first-name">
          {{ content.user.forename }}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Last name
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="last-name">
          {{ content.user.surname }}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Assigned roles
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="assigned-roles">
          {% if content.user.roles|length === 1 %}
            {{ content.user.roles }}
          {% else %}
            <ul class="govuk-list">
              {% for role in content.user.roles %}
                <li id="assigned-roles">
                  {{ role }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Single sign-on provider
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="sso-provider">
          {{ content.user.ssoProvider }}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Single sign-on ID
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="sso-id">
          {{ content.user.ssoId }}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Account creation date
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="account-creation-date">
          {{ content.user.createDate }}
        </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__key">
        Last modified date
      </dd>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body-m" id="last-modified">
          {{ content.user.lastModified }}
        </p>
      </dd>
    </div>
  </dl>

  {% if not content.user.stale %}
    <form method="POST" action="{{ urls.USER_ACTIONS_URL }}">
      {{ csrfProtection(csrfToken) }}
      <input type="hidden" name="_userId" value="{{ content.user.id }}">
      <div class="govuk-button-group">
        {% if featureFlags.values[featureFlags.flags.BETA_EDIT] %}
          {{ govukButton({ text: "Edit user", name: "_action", value: "edit", classes: "govuk-button" }) }}
        {% endif %}

        {% if featureFlags.values[featureFlags.flags.BETA_SUSPEND] %}
          {{ govukButton({ text: "Suspend user", name: "_action", value: "suspend", classes: "govuk-button--secondary" }) if content.user.active }}
          {{ govukButton({ text: "Unsuspend user", name: "_action", value: "unsuspend", classes: "govuk-button--secondary" }) if not content.user.active }}
        {% endif %}

        {% if featureFlags.values[featureFlags.flags.BETA_DELETE] %}
          {{ govukButton({ text: "Delete user", name: "_action", value: "delete", classes: "govuk-button--warning govuk-button--align-right" }) if content.showDelete }}
        {% endif %}
      </div>
    </form>
  {% endif %}

  {{ govukBackLink({
    text: "Return to search",
    href: urls.MANAGER_USER_URL
  }) }}
{% endblock %}
