{% from "dist/govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "dist/govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "dist/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "dist/govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "macros/breadcrumb.njk" import breadcrumb %}
{% from "macros/csrf.njk" import csrfProtection %}

{% extends "template.njk" %}

{% block pageTitle %}
  User Details - IDAM User Dashboard - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ breadcrumb([
    ['Manage user', urls.MANAGER_USER_URL],
    ['User details']
  ]) }}
{% endblock %}

{% set eJudiciaryNotification %}
  <p class="govuk-notification-banner__heading">
    {{ content.notificationBannerMessage | striptags(true) | escape | nl2br }}
  </p>
{% endset %}

{% block content %}
  {% if content.notificationBannerMessage %}
    {{ govukNotificationBanner({
      html: eJudiciaryNotification
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">User Details</h1>
  {% if featureFlags.values[featureFlags.flags.BETA_SHOW_LOCKED_STATUS] and content.lockedMessage %}
    {{ govukWarningText({
      text: content.lockedMessage,
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {% set processedRoles %}
    {% for role in content.user.roles %}
      {{ role }}<br>
    {% endfor %}
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Account state"
        },
        value: {
          html: '<strong class="govuk-tag">Active</strong>'
        }
      } if (content.user.active and not content.user.stale),
      {
        key: {
          text: "Account state"
        },
        value: {
          html: '<strong class="govuk-tag govuk-tag--green">Archived</strong>'
        }
      } if (content.user.stale and not content.user.active),
      {
        key: {
          text: "Account state"
        },
        value: {
          html: '<strong class="govuk-tag govuk-tag--red">Suspended</strong>'
        }
      } if (not content.user.stale and not content.user.active),
      {
        key: {
          text: "IDAM User ID"
        },
        value: {
          text: content.user.id
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          text: content.user.email
        }
      },
      {
        key: {
          text: "First name"
        },
        value: {
          text: content.user.forename
        }
      },
      {
        key: {
          text: "Last name"
        },
        value: {
          text: content.user.surname
        }
      },
      {
        key: {
          text: "Assigned roles"
        },
        value: {
          html: processedRoles
        }
      },
      {
        key: {
          text: "Multi-factor authentication"
        },
        value: {
          html: '<strong class="govuk-tag">Enabled</strong>'
        }
      } if content.user.multiFactorAuthentication,
      {
        key: {
          text: "Multi-factor authentication"
        },
        value: {
          html: '<strong class="govuk-tag govuk-tag--green">Disabled</strong>'
        }
      } if not content.user.multiFactorAuthentication,
      {
        key: {
          text: "Identity Provider"
        },
        value: {
          text: content.providerName
        }
      },
      {
        key: {
          text: content.providerIdField
        },
        value: {
          text: content.user.ssoId
        }
      } if content.user.ssoProvider,
      {
        key: {
          text: "Account creation date"
        },
        value: {
          text: content.user.createDate
        }
      },
      {
        key: {
          text: "Last modified date"
        },
        value: {
          text: content.user.lastModified
        }
      }
    ]
  }) }}

  <a id="openInNewTab" href="#" target="_blank" class="govuk-link" rel="noopener noreferrer">Open this in a new tab</a>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const currentURL = window.location.href;
      const openInNewTabLink = document.getElementById('openInNewTab');
      openInNewTabLink.href = currentURL;
    });
  </script>

  <form method="POST" action="{{ urls.USER_ACTIONS_URL }}">
    {{ csrfProtection(csrfToken) }}
    <input type="hidden" name="_userId" value="{{ content.user.id }}">
    <div class="govuk-button-group">
      {% if not content.user.stale %}
        {% if featureFlags.values[featureFlags.flags.BETA_EDIT] %}
          {{ govukButton({ text: "Edit user", name: "_action", value: "edit", classes: "govuk-button" }) }}
        {% endif %}

        {% if featureFlags.values[featureFlags.flags.BETA_SUSPEND] %}
          {{ govukButton({ text: "Suspend user", name: "_action", value: "suspend", classes: "govuk-button--secondary" }) if content.user.active }}
          {{ govukButton({ text: "Unsuspend user", name: "_action", value: "unsuspend", classes: "govuk-button--secondary" }) if not content.user.active }}
        {% endif %}

        {% if featureFlags.values[featureFlags.flags.BETA_REMOVE_SSO] and (content.user.ssoProvider or content.user.ssoId) %}
          {{ govukButton({ text: "Remove SSO", name: "_action", value: "remove-sso", classes: "govuk-button--secondary" })}}
        {% endif %}
      {% endif %}

      {% if featureFlags.values[featureFlags.flags.BETA_DELETE] %}
        {{ govukButton({ text: "Delete user", name: "_action", value: "delete", classes: "govuk-button--warning govuk-button--align-right" }) if content.canManage }}
      {% endif %}
    </div>
  </form>

  {{ govukBackLink({
    text: "Return to search",
    href: urls.MANAGER_USER_URL
  }) }}
{% endblock %}
