{% if htmlWebpackPlugin.files.css and htmlWebpackPlugin.files.css.length > 0 %}
  {% for cssFile in htmlWebpackPlugin.files.css %}
    <link href="{{ cssFile }}" rel="stylesheet">
  {% endfor %}
{% else %}
{% endif %}
